.food-menu {
	background-color: #ececec;
}

.food-menu--title{
	text-align: center;
	margin: 0;
	padding: 10px 0;
}

.food-menu--grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
	grid-gap: 5px;
	justify-content: center;
	padding-bottom: 10px;
}

.food-menu--item {
    display: grid;
	background-color: rgb(220, 222, 224);
	border-radius: 5px;
	padding: 3px;
	
}

.food-menu--img {
	width: 100%;
	max-width: 100%;
	border-radius: 10px;
	padding: 3px;
	
	grid-column-start: 1;
}

.food-menu--item--info {
	grid-column-start: 2;
	padding: 3px;
}

.food-menu--item---title {
	margin-top: 6px;
	margin-bottom: 3px;
	font-weight: 400;
	font-family: var(--fm-secondary);
}

.food-menu--item---price,
.food-menu--item---desc {
	margin-top: 3px;
	margin-bottom: 3px;
}

.food-menu--item---desc {
	color: #54575c;
	line-height: 1.5;
	margin-top: 6px;
}

.food-menu--item---btn {
	margin-top: 6px;
	margin-bottom: 6px;
}
